<title>Search ebook</title>

<h1>Search ebook</h1>

<form method='GET' style="width:40%; margin:2em auto;">
    <input type='text' name='q' value="${q}" size="22" maxlength="60" style="height:30px; width:80%;" />
    <input type='submit' value='Search' style="height:30px;" />
</form>

%if result:
    <ol>
    %for item in result:
        <li style="float:left; width:300px; height:300px; margin-right:2em;">
        %for link, name in item['paths']:
            <a href="${link}" target="new">${name}</a>
            %if item.get('thumb'):
            <div>
              <a href="${item['thumb']}" target="new">
                <img src="${item['thumb']}" style="border: 1px solid gray; height:200px;" />
              </a>
            </div>
            %endif
        %endfor
        </li>
    %endfor
    </ol>
%else:
    <p>Not found</p>
%endif
