<title>Search ebook</title>
<style>
.book {
    float:left;
/*
    width:300px;
    height:300px;
 */
    margin-right:2em;
    margin-bottom: 2em;
    overflow: hidden;
}
.search_form {
    width:40%;
    margin:2em auto;
}
.search_input {
    font-size: 15px;
    height:30px;
    width:80%;
    margin: 5px 0px 5px 0px;
    padding: 3px;

    border: 1px solid #999;
}
.search_button {
    font-size: 15px;
    height:30px;
    margin: 5px 0px 5px 0px;
    padding: 0.3em 0.6em;

    border-radius: 3px;
    border: 1px solid #000!important;
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.4) inset;
    text-decoration: none;
}
.thumb {
    border: 1px solid gray;
    height: 200px;
    margin: 5px 0;
}
.pagelink {
    clear: both;
}
.pagelink li {
    display: inline;
    list-style: none;
    margin-right: 1em;
}
.pagelink .current {
    background-color: yellow;
}
</style>

<form method='GET' class="search_form">
    <input type='text' name='q' value="${q}" size="22" maxlength="60" class="search_input" autofocus="autofocus"/>
    <input type='submit' value='Search' class="search_button" />
</form>

%if q:
%if result:
    <p style='color:gray'>About ${hits} results in ${doccount} docs</p>

    %if pages:
    <ul class="pagelink">
      %for i, (start, pagesize, is_cur) in enumerate(pages):
      <li>
        %if is_cur:
        <span class="current">${i+1}</span>
        %else:
        <a href="/?q=${q}&offset=${start}&pagesize=${pagesize}">${i+1}</a>
        %endif
      </li>
      %endfor
    </ul>
    %endif

    <ul>
        %for item in result:
        <li class="book">
            <a href="${item['filelink']}" target="new">${item['title']}</a>
            %if item.get('thumb'):
            <div>
              <a href="${item['thumb']}" target="new">
                <img src="${item['thumb']}" class="thumb" alt="${item['key']}"/>
              </a>
            </div>
            %endif

            %if item.get('meta'):
            <div>
              %for site, info in item['meta'].iteritems():
              <h3>${site}</h3>
              <ul>
                %for key, val in info.iteritems():
                %if isinstance(val, list):
                <li>${key} : ${' '.join(val)}</li>
                %else:
                <li>${key} : ${val}</li>
                %endif
                %endfor
              </ul>
              %endfor
            </div>
            %endif
        </li>
        %endfor
    </ul>

    %if pages:
    <ul class="pagelink">
      %for i, (start, pagesize, is_cur) in enumerate(pages):
      <li>
        %if is_cur:
        <span class="current">${i+1}</span>
        %else:
        <a href="/?q=${q}&offset=${start}&pagesize=${pagesize}">${i+1}</a>
        %endif
      </li>
      %endfor
    </ul>
    %endif
%else:
    <p>Not found</p>
%endif
%endif
